@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
}
body {
   padding: 1rem;
   font-family: 'Quicksand', serif;
   font-style: normal;
   font-weight: 400;
   letter-spacing: 0;
}

/* HEADER */
header {
   margin: 20px 0;
}
header span {
   font-weight: bold;
}


/* INFO */
.info {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   margin-bottom: 30px;
}
.menu ul {
   list-style-type: none;
}
.menu ul li {
   width: fit-content;
   border-radius: 5px;
   padding: 0.5rem 1rem;
   border: 1px dotted #f00;
   transition: ease 0.3s;
}
.menu ul li:hover {
   background-color: rgba(255,0,0,0.1);
}
.menu ul li a {
   color: #000;
}

/* CONTENT */
.content > div {
   margin: 10px 0;
}
.content form textarea,
.content form input {
   font-family: 'Quicksand', serif;
   font-style: normal;
   letter-spacing: 0;
   padding: 5px 10px;
   border: 1px dotted #000;
   border-radius: 3px;
}
.content form textarea {
   display: block;
   width: 350px;
   height: 125px;
   resize: none;
}
.content form input[type="submit"] {
   display: block;
   margin: 10px 0;
   cursor: pointer;
   background-color: #c7c4c4;
}