.section-7 {
   background-color: #03223b;
   padding: 2rem 1rem;
   color: #fff;
   height: auto;
   min-height: fit-content;
}
.section-7 h2 {
   margin: 6rem auto 1rem;
   max-width: 600px;
   padding: 5px;
   font-family: 'Sora';
   font-weight: 700;
   font-size: 3rem;
   line-height: 1.2;
   text-align: center;
}
.section-7 p {
   font-family: 'Inter';
   font-weight: 400;
   font-size: 1rem;
   line-height: 1.3;
   padding: 10px 25px 10px;
   text-align: center;
}
.section-7 button {
   display: block;
   width: 250px;
   margin: 5rem auto 1.5rem;
   background-color: #22c55e;
   color: #fff;
   border: 1px solid #ccc;
   border-radius: 5px;
   padding: 18px 30px;
   font-family: 'Inter';
   font-size: 1.2rem;
   font-weight: 500;
   cursor: pointer;
   transition: all 0.3s ease;
}
.section-7 button:hover {
   background-color: #eee;
   color: #000;
   border-color: #aaa;
}
.section-7 button:active {
   background-color: #ddd;
   transform: scale(0.98);
}
.section-7 span {
   display: block;
   width: fit-content;
   margin: 5px auto 6rem;
   font-family: 'Inter';
   font-weight: 400;
   font-size: 0.7rem;
   font-style: italic;
}
