.section-2 {
   overflow-x: hidden;
   background-color: #F8F9FA;
}
.section-2 .container {
   padding: 5px 20px;
}
.section-2 h2 {
   font-family: 'Sora';
   font-weight: 500;
   font-size: 1.5rem;
   line-height: 1.5;
   padding: 2.5rem 20px;
   text-align: center;
}
.section-2 span {
   color: #C00404;
   font-weight: 600;
}
.section-2 ul {
   background: #fff;
   max-width: 450px;
   margin: 0 auto;
   height: auto;
   border-radius: 10px;
   position: relative;
   box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
   padding: 30px 45px;
}
.section-2 ul li {
   font-family: 'Inter';
   line-height: 1.5;
   font-weight: 400;
   font-size: 1rem;
   margin: 20px auto;
}
.section-2 ul li span {
   font-weight: 400;
}
.section-2 img {
   display: block;
   width: 80%;
   height: auto;
   margin: 3rem auto 0;
}
.section-2 .question-problem {
   font-family: 'Sora';
   font-weight: 500;
   font-style: italic;
   font-size: 0.9rem;
   color: inherit;
   display: block;
   margin: 1rem auto 6rem;
   text-align: center;
   width: fit-content;
}
.question-problem span {
   color: #C00404;   
}


/****** MEDIA QUERIES ******/

@media(min-width: 576px) {
   .section-2 ul {
      max-width: 350px;
   }
   .section-2 img {
      max-width: 65%;
   }
}

@media(min-width: 768px) {
   .section-2 {
      min-height: 750px;
   }
   .section-2 h2 {
      font-size: 1.7rem;
      padding-top: 0;
   }
   .section-2 ul li {
      font-size: 1.2rem;
   }
   .section-2 ul {
      margin: 0;
      max-width: 375px;
   }
   .section-2 img {
      max-width: 320px;
      margin: 0;
   }
   .section-2 .container div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
   }
   .section-2 .question-problem {
      margin-top: 3rem;
   }
}

@media(min-width: 992px) {
   .section-2 h2 {
      padding-top: 2.7rem;
      padding-bottom: 2.7rem;
   }
   .section-2 .question-problem {
      font-size: 1.1rem;
   }
}

@media(min-width: 1200px) {
   .section-2 .container {
      height: 100vh;
      max-height: 750px;
      width: 1220px;
      margin: 0 auto;
   }
   .section-2 .container div {
      justify-content: space-evenly;
   }
   .section-2 img {
      max-width: 450px;
   }
}

